<div class="game-over-money-results">
	<div class="text-center challenge-prompt">YOU RAN OUT OF MONEY ON DAY <span class="currentGameDay">{{currentGameDay}}</span></div>
	<br/><br/>
	<div class="text-center challenge-prompt">TO PROVIDE A DAY'S MEALS....</div><br/><br/>
	<div class="option-prompt">GET INVOLVED</div>
	<div  class="option-button"><a ng-click="resetGame()" class="btn btn-default btn-success btn-lg">TRY AGAIN</a></div><br/>
	<div  class="option-button"><a ng-click="getInvolved()" class="btn btn-default btn-success btn-lg">GET INVOLVED</a></div><br/>
	<div  class="option-button"><a ng-click="gameOverDonate()" class="btn btn-default btn-success btn-lg">GIVE 5$</a></div><br/>
</div>