<div class="text-center challenge-prompt">YOU MESSED UP TOO MANY TIMES. ITS A DOG EAT DOG WORLD OUT THERE.</div>
<div ng-bind-html="currentGameDay"></div><br/><br/>
<div class="text-center challenge-prompt">TO PROVIDE A DAY'S MEALS....</div><br/><br/>
<div class="option-prompt">GET INVOLVED</div>
<div  class="option-button"><a ng-click="beginGame()" class="btn btn-default btn-success btn-lg">TRY AGAIN</a></div><br/>
<div  class="option-button"><a ng-click="getInvolved()" class="btn btn-default btn-success btn-lg">GET INVOLVED</a></div><br/>
<div  class="option-button"><a ng-click="donate()" class="btn btn-default btn-success btn-lg">GIVE 5$</a></div><br/>